<configuration debug="false">
    <conversionRule conversionWord="status"
                    converterClass="org.usefultoys.slf4j.logback.StatusConverter" />
    <conversionRule conversionWord="statushl"
                    converterClass="org.usefultoys.slf4j.logback.StatusHighlightConverter" />
    <conversionRule conversionWord="msghl"
                    converterClass="org.usefultoys.slf4j.logback.MessageHighlightConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%msghl(%d{HH:mm.ss}) %statushl(%7.7status) %msghl(%logger{36}) %msghl(%msg) %n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>