# This workflow builds, tests, and analyzes the project.
# It runs on pushes and pull requests to the main branch,
# and on pushes to feature branches (only for code changes).

name: Maven Build, Test and Analyze

on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - 'src/**'
      - 'pom.xml'
  pull_request:
    branches: 
      - 'main'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  statuses: write
  security-events: write
  actions: read
  checks: write

jobs:
  maven-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: sh mvnw clean verify --batch-mode

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          files:
           ./coverage-report-aggregator/target/site/jacoco-aggregate/jacoco.xml
           ./slf4j-toys-logback-tests/target/site/jacoco/jacoco.xml
           ./slf4j-toys/target/site/jacoco/jacoco.xml

  qodana:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_39620293 }}

